<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.cian.test">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="ru.cian.test.App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app"
        android:theme="@style/appTheme">
        <activity
            android:name="ru.cian.test.MainActivity"
            android:label="@string/app">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>